%tr
  %td
    = book.id
  %td
    = book.author
  %td
    = book.title
  %td
    = book.status_info
  %td.btn-group
    - if book.is_rented_by_current_user(current_user)
      = link_to 'Return Book', "books/#{book.id}/return_book", method: :put, id: "'books/(#{book.id})/return_book", class: 'btn btn-primary'
    - elsif !book.is_rented
      = link_to 'Rent Book', "rents/#{book.id}", id: "'rents/(#{book.id})", class: 'btn btn-primary'
    - else
      = link_to 'Rented', "#", disabled: true, class: 'btn btn-primary'

    = link_to 'Details', book_path(book), id: "book_path(#{book.id})", class: 'btn'

    = link_to 'Edit', edit_book_path(book), id:"edit_#{book.id}", class: 'btn'

    = link_to 'Delete', book_path(book), method: :delete ,id: "delete_book_#{book.id}_from_index", class: 'btn', data: { confirm: 'Are you sure?'}



