%tr
  %td
    = book.id
  %td
    = book.author
  %td
    = book.title
  %td
    = book.status_info
  %td.btn-group
    = link_to 'Rent Book', new_rent_path, id: "new_rent_path(#{book.id})", class: 'btn btn-primary'

    = link_to 'Details', book_path(book), id: "book_path(#{book.id})", class: 'btn'

    = link_to 'Edit', edit_book_path(book), id:"edit_#{book.id}", class: 'btn'

    = link_to 'Delete', book_path(book), method: :delete ,id: "delete_book_#{book.id}_from_index", class: 'btn', data: { confirm: 'Are you sure?'}



