%tr
  %td
    = book.id
  %td
    = book.author
  %td
    = book.title
  %td
    = truncate(book.description)
  %td
    = book.status_info
  %td
    = link_to 'Edit', edit_book_path(book), id:"edit_#{book.id}"