= form_for @book, class: "form-horizontal" do |f|

  - if @book.errors.any?
    - @book.errors.full_messages.each do |error|
      = js add_gritter(error, title: "Company Library", sticky: false)

  .form-group
  = f.label :author, class: "col-sm-2.control-label"
  = f.text_field :author, class: "form-control"

  = f.label :title, class: "col-sm-2.control-label"
  = f.text_field :title, class: "form-control"

  = f.label :description, class: "col-sm-2.control-label"
  = f.text_area :description, class: "form-control"

  = f.submit 'Save', class: 'btn btn-primary btn-block'


