!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CompanyLib
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .row
        .col-md-12
          = render 'shared/nav'
          = yield
          - if flash[:alert]
            = js add_gritter(flash[:alert], title: "Company Library Alert", sticky: false)
          - elsif flash[:error]
            = js add_gritter(flash[:error], title: "Company Library Error", sticky: false)
          - else
            = js add_gritter(flash[:notice], title: "Company Library Notice", sticky: false)
